/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body{
margin-bottom: 65px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #464646;
}

/* Custom styles
-------------------------*/

.social-logo {
	height: 30px;
}
.social-btn {
	font-weight: bold;
	color: #3272aa;
}