/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body{
margin-bottom: 65px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #464646;
}

/* Custom styles
-------------------------*/

.facebook-color{
color: #3b5998;
}

.twitter-color{
color: #1da1f2;
}

.hoverMe {
  vertical-align: top;
}
.iframetooltip {
  border: 2px solid steelblue;
  width: 470px;
  height: 100px;
}