/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body{
margin-bottom: 65px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #464646;
}

/* Custom styles
-------------------------*/

.facebook-color{
color: #3b5998;
}

.twitter-color{
color: #1da1f2;
}

.profile-div {
	background: #f5f5f5;
	padding: 10px;
	height: 72px;
	width: 220px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	float: left;
	margin: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Styles for select2 dropdown */

.select2-search{width: 100%;}
.select2-search__field{width: 100% !important;}
.select2-result-repository { padding-top: 4px; padding-bottom: 3px; }
.select2-result-repository__avatar { float: left; margin-right: 10px; }
.select2-result-repository__avatar img { width: 50px; height: auto; border-radius: 2px; }
.select2-result-repository__meta { margin-left: 70px; }
.select2-result-repository__title { color: black; font-weight: bold; word-wrap: break-word; line-height: 1.1;  }
.select2-result-repository__likes { color: #555; font-weight: normal; word-wrap: break-word; line-height: 1.1; margin-bottom: 4px; }
